<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Afrikaans</key>
	<string>af</string>
	<key>Arabic</key>
	<string>ar</string>
	<key>Basque</key>
	<string>eu</string>
	<key>Bulgarian</key>
	<string>bg</string>
	<key>Byelorussian</key>
	<string>be</string>
	<key>Catalan</key>
	<string>ca</string>
	<key>Croatian</key>
	<string>hr</string>
	<key>Czech</key>
	<string>cs</string>
	<key>Danish</key>
	<string>da</string>
	<key>Dutch</key>
	<string>nl</string>
	<key>English</key>
	<string>en</string>
	<key>Esperanto</key>
	<string>eo</string>
	<key>Estonian</key>
	<string>et</string>
	<key>Faroese</key>
	<string>fo</string>
	<key>Finnish</key>
	<string>fi</string>
	<key>French</key>
	<string>fr</string>
	<key>German</key>
	<string>de</string>
	<key>Greek</key>
	<string>el</string>
	<key>Hebrew</key>
	<string>iw</string>
	<key>Hungarian</key>
	<string>hu</string>
	<key>Icelandic</key>
	<string>is</string>
	<key>Irish</key>
	<string>ga</string>
	<key>Italian</key>
	<string>it</string>
	<key>Japanese</key>
	<string>ja</string>
	<key>Latvian</key>
	<string>lv</string>
	<key>Macedonian</key>
	<string>mk</string>
	<key>Norwegian</key>
	<string>no</string>
	<key>Polish</key>
	<string>pl</string>
	<key>Romanian</key>
	<string>ro</string>
	<key>Russian</key>
	<string>ru</string>
	<key>Scottish</key>
	<string>gd</string>
	<key>Serbian</key>
	<string>sr</string>
	<key>Slovak</key>
	<string>sk</string>
	<key>Spanish</key>
	<string>es</string>
	<key>Swedish</key>
	<string>sv</string>
	<key>Turkish</key>
	<string>tr</string>
	<key>Ukranian</key>
	<string>uk</string>
</dict>
</plist>
